<form method="post" action="{{ path('app_guide_rating_delete', {'id': guide_rating.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ guide_rating.id) }}">
    <button class="btn">Delete</button>
</form>
